@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
:root{
    --primary-color:#17aeb9;
    --secondary-color:#17ba86;
    --text-dark:#0f172a;
    --text-light:#79879b;
    --white:#ffffff;
    --max-width:1400px ;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family:"Raleway", sans-serif;
    font-weight:500;
    background: linear-gradient(to right,rgba(15, 77, 117, 0.9),rgba(255,255,255,0)),url(./kelingking.jpg);
    background-position:center center;
    background-size:cover;
    background-repeat: no-repeat;
}
.container{
    max-width: var(--max-width);
    min-height: 100vh;
    margin:auto;
    padding: 1rem;
    display:flex;
    flex-direction: column;
    margin-left:4rem;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}
.nav_logo img{
    padding-left: -20%;
    max-width: 80px;
    background-color:rgb(3, 9, 9);
}
.nav_links{
      list-style:none;
      display:flex;
      align-items:center;
      gap:3rem;
}
.link a{
    text-decoration:none;
    font-weight: 600;
    color:var(--white);
}
.search{
    width:100%;
    max-width: 300px;
    padding:.5rem .5rem;
    display:flex;
    align-items:center;
    gap:1rem;
    background-color: var(--white);
    border-radius: 4rem;
    transition:0.3s; 
}
.search input{
    width:85%;
    font-size: 1rem;
    color:var(--primary-color);
    outline: none;
    border: none;
}
.search input::placeholder{
    color:var(--black);
}
.search span{
    font-size:1.5rem;
    color:var(--black)
}
.login{
    padding: 0.4rem 1.5rem;
    display:flex;
    align-items: center;
    gap:1rem;
    font-weight: 600;
    color:var(--white);
    background-color: var(--primary-color);
    border-radius:2rem;
    cursor:pointer;
    transition:0.3s;
}
.login:hover {
    background-color: var(--secondary-color);
}
.login span{
    padding:4px 4px;
    font-size:1.5rem;
    color:var(--primary-color);
    background-color:var(--white);
    border-radius: 100%;
}
.destination_container{
    position:relative;
    padding:5rem 0 5rem 5rem;
    flex:1;
    display:grid;
    grid-template-columns: 1fr 2fr;
    gap:2rem;
    align-items:center;
}
.socials{
    position: absolute;
    top:7rem;
    left:0;
    display:flex;
    flex-direction: column;
    gap:8rem;
    font-size: 1.8rem; /* Adjust this value to change the icon size */
    width: 2rem;     /* Ensure uniform width */
    height: 2rem;
}
.socials::after{
    position:absolute;
    content:"";
    top:-0.6rem;
    left:32px;
    height:33rem;
    width:2.5px;
    background-color: var(--white);
}
.socials a{
    text-decoration: none;
    color:var(--black);
}
.content h2{
   margin-bottom:1rem;
   font-size: 4.5rem; 
   font-weight: 800;
   color:var(--white);
}
.content h2 span{
    -webkit-text-stroke: 2px var(--white);
    -webkit-text-fill-color:transparent ;
}
.content p{
    max-width: 350px;
    margin-bottom: 2rem;
    line-height:1.5rem;
    color: var(--white);
}
.content .btn{
    padding:0.75rem 2rem;
    outline:none;
    border:none;
    font-size: 1rem;
    font-weight: 600;
    color:var(--white);
    background-color: var(--primary-color);
    cursor:pointer;
}
.destination__grid{
    margin-left: 5rem;;
    display:grid;
    grid-template-columns: repeat(3,1fr);
    gap: 1.2rem;
    
}
.destination__card{
    height:100%;
    width:15rem;
    background-color:var(--white);
    box-shadow:2px 2px 20px rgb(0, 0, 0, 0.7);
}
.destination__card img{
    width:100%;
}
.card__content h4{
    margin-bottom:0.5rem;
    font-size: 1.2rem;
    font-weight: 600;
    color:var(--text-dark);
}
.card__content p{
    margin-bottom: 1rem;
    font-size: 0.9rem;
    line-height: 1.5rem;
color: var(--text-light);
}
.card__content .btn{
padding:1rem 1rem;
outline: none;
border:none;
font-weight:500;
color: var(--white);
background-color:var(--primary-color) ;
cursor:pointer;
margin-left: 4.5rem;
}
@media (width<1200px) {
    .search{
        max-width: 235px;
    }
    .destination_container{
        grid-template-columns: 1fr;
    }   
}
@media(width<900px){
    .nav_links{
        display:none;
    }
    .content h2{
      font-size: 4rem;
    }
    .destination__grid{
        grid-template-columns: repeat(2,1fr);
    }
}
@media(width<600px){
    search{
        display:none;
    }
.destination_container{
    padding-left: 3rem;
}
.content h2{
    font-size: 3rem;
}
.destination__grid{
    grid-template-columns: repeat(1,1fr);
}

}









